<?xml version="1.0" encoding="UTF-8"?>
<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package
		Name="Rust Packages Survey"
		Language="1033"
		Version="0.1.11"
		Manufacturer="Rust Packages Survey"
		UpgradeCode="8E1A120D-3A1E-4B53-BD79-1A1BC830A0F4"
		Scope="perMachine">
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="no" />

		<ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLDIR" />
		<WixVariable Id="WixUILicenseRtf" Value="$(sys.SOURCEFILEDIR)License.rtf" />

		<StandardDirectory Id="ProgramFiles64Folder">
			<Directory Id="INSTALLDIR" Name="Rust Packages Survey">
				<Files Include="!(bindpath.StageAppDir)\**" />
			</Directory>
		</StandardDirectory>

		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="Rust Packages Survey" />
		</StandardDirectory>

		<StandardDirectory Id="DesktopFolder" />

		<Component
			Id="ApplicationShortcutComponent"
			Directory="ApplicationProgramsFolder"
			Guid="A3A24986-7A8B-45FF-93BF-7552F0F5F474">
			<Shortcut
				Id="ApplicationStartMenuShortcut"
				Name="Rust Packages Survey"
				Description="Launch Rust Packages Survey"
				Target="[INSTALLDIR]entry.exe"
				WorkingDirectory="INSTALLDIR" />
			<RemoveFolder Id="ApplicationProgramsFolderRemove" On="uninstall" />
			<RegistryValue
				Root="HKCU"
				Key="Software\RustPackagesSurvey"
				Name="StartMenuShortcutInstalled"
				Type="integer"
				Value="1"
				KeyPath="yes" />
		</Component>

		<Component
			Id="DesktopShortcutComponent"
			Directory="DesktopFolder"
			Guid="A39753F9-69E2-4F7F-86AF-C1F9F34AB2A1">
			<Shortcut
				Id="ApplicationDesktopShortcut"
				Name="Rust Packages Survey"
				Description="Launch Rust Packages Survey"
				Target="[INSTALLDIR]entry.exe"
				WorkingDirectory="INSTALLDIR" />
			<RegistryValue
				Root="HKCU"
				Key="Software\RustPackagesSurvey"
				Name="DesktopShortcutInstalled"
				Type="integer"
				Value="1"
				KeyPath="yes" />
		</Component>
	</Package>
</Wix>
