[package]
name = "utils"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
description = "放其他crate使用的常数/结构体/函数之类"

[lib]
name = "utils"
path = "src/lib.rs"

[features]
default = []
